body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#header {
    position: absolute;
    width: 100%;
    height: 3em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#header > * {
    height: 2em;
    margin: 0 0.5em;
    font-family: ArtifaktElement; /* Will be added by Forge Viewer */
    font-size: 1em;
}

#header .title {
    flex: 1 0 auto;
    height: auto;
}

#models {
    flex: 0 1 auto;
    min-width: 2em;
}

#preview, #sidebar {
    position: absolute;
    top: 3em;
    bottom: 0;
}

#preview {
    left: 0;
    width: 66%;
}

#sidebar {
    right: 0;
    width: 33%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: stretch;
    padding: 0.5em;
}

#sidebar > * {
    flex: 1;
}

#sidebar > select, #sidebar > h2 {
    flex: 0;
    height: 2em;
    font-family: ArtifaktElement; /* Will be added by Forge Viewer */
    font-size: 1em;
}
