body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#header {
    position: absolute;
    width: 100%;
    height: 3em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#header > * {
    height: 2em;
    margin: 0 0.5em;
    font-family: ArtifaktElement; /* Will be added by Forge Viewer */
    font-size: 1em;
}

#header .title {
    flex: 1 0 auto;
    height: auto;
}

#models {
    flex: 0 1 auto;
    min-width: 2em;
}

#preview {
    position: absolute;
    top: 3em;
    bottom: 0;
    left: 0;
    right: 0;
}

#dashboard-barchart-button {
    background-image: url(https://github.com/Rush/Font-Awesome-SVG-PNG/raw/master/black/png/24/bar-chart.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
}

#dashboard-piechart-button {
    background-image: url(https://github.com/Rush/Font-Awesome-SVG-PNG/raw/master/black/png/24/pie-chart.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
}

#dashboard-barchart .props-dropdown, #dashboard-piechart .props-dropdown {
    width: 100%;
}
