#xform-extension-button {
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(https://github.com/Rush/Font-Awesome-SVG-PNG/raw/master/black/png/24/arrows.png);
}
